@page
@model HakimsLivs.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/ProductPage.css">

<h1>Beställningar</h1>
    <hr />
    <div class=flexboxTable>
        @foreach (var oup in Model.orderUserProductList.OrderBy(date => date.Order.OrderDate))
        {
            <table class="tableOrder">
                <tbody>
                    <tr>
                        <td>
                            <b>Användare:</b> @Html.DisplayFor(model => oup.Username)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Ordernummer:</b> @Html.DisplayFor(model => oup.Order.ID)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Orderdatum:</b> @Html.DisplayFor(model => oup.Order.OrderDate)
                        </td>
                    </tr>
                    @foreach (var product in oup.ProductList)
                    {
                        <tr>
                            <td>
                                <b><u>@Html.DisplayFor(model => product.Product.Name)</u></b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => product.Product.Price) * @Html.DisplayFor(model => product.Amount) = @Html.DisplayFor(model => product.TotalPrice)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
