@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/main.js"></script>
    <title>Hakims Livs</title>
    <link rel="stylesheet" href="Foundation.css">
</head>

<body>
    <main>
        <nav id="top">
            <a id="title" href="/Index">
                <img src="~/css/HakimsLivsLogo.jpg" height="80" , width="140" />
            </a>
            @*<input type="text" id="start" placeholder="Search" autofocus>*@
            <div id="menu">
                @*<a class=menuButton href="/Login">Login</a>*@
                <a class=menuButton href="/Orders">Varukorg ( @Html.DisplayFor(i => i.ItemsInOrder) )</a>
                <a class=menuButton href="/Checkout">Checkout</a>
                <a class=menuButton href="/Products">Admin</a>

            </div>
            <div id="smallmenu">
                <ul>
                    <li><a href="/Orders">Orders</a></li>
                    <li><a href="/Products">Products</a></li>
                    <li><a href="/Checkout">Checkout</a></li>
                </ul>
            </div>
        </nav>
        <div id=categoryList>
            <div id="middle">
                <div id="sticky">
                    <form method="post">
                        <button id="categorybutton" name="All" type="submit">Alla kategorier</button>
                        @foreach (var category in Model.categoriesInProduct)
                        {
                            <button id="categorybutton" name="@category" type="submit">@category</button>
                        }
                    </form>
                </div>
                <div id="base">
                    @foreach (var item in Model.ProductList)
                    {
                        @if(item.Inventory != 0)
                        { 
                        <div id="productfoundation">
                            <div id="toppro">
                                <img src=@Html.DisplayFor(modelItem => item.Image)
                                     width="200" ,
                                     height="133" />

                                <p style="font-size: 28px">@item.Name</p>
                                <p style="font-size: 20px">@item.Price.ToString() :-</p>

                                @if (!(item.Weight == null) && !(item.Volume == null))
                                {
                                    <p>@item.Weight.ToString() g| @item.Volume.ToString() ml</p>
                                }
                                @if (item.Volume == null)
                                {
                                    <p>@item.Weight.ToString() g</p>
                                }
                                @if (item.Weight == null)
                                {
                                    <p>@item.Volume.ToString() ml</p>
                                }
                            </div>

                            <div id="quantity">
                                <form asp-page-handler="view" method="post">
                                    <button name="@item.ID" type="submit">Lägg till produkt</button>
                                </form>
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
            <footer id="bottom">
                <table class="footerTable">
                    <tbody>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Kontakt:</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Tel</b> +46 (0)70 123 45 67
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Adress</b> Hakimgatan 10
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                123 45 HAKIMSTAD
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="footerTable">
                    <tbody>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Öppetider:</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Mån-fre</b> 07:00 - 22:00
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                <b class="footerTable">Lör-sön</b> 08:00 - 21:00
                            </td>
                        </tr>
                        <tr>
                            <td class="footerTable">
                                <i class="footerTable"><b class="footerTable">Helgdagar</b> 10:00 - 16:00</i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </footer>
        </div>
    </main>
</body>
</html>
