@page
@model HakimsLivs.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Produkter</h1>
<h2><i>Skapa, ändra och radera produkter</i></h2>

<p>
    <a asp-page="Create"><b>Skapa ny produkt</b></a>
</p>

@foreach (var item in Model.Product)
{
 <table>
     <tbody>
         <tr>
             <td>
                 <img src=@Html.DisplayFor(modelItem => item.Image)
                      width="200" />
             </td>
         </tr>
         <tr>
             <td>
                 <b>Produktnamn:</b> @Html.DisplayFor(modelItem => item.Name)
             </td>
         </tr>
         <tr>
             <td>
                 <b>Pris:</b> @Html.DisplayFor(modelItem => item.Price) kr
             </td>
         </tr>
         <tr>
             @if (!(item.Weight == null) && !(item.Volume == null))
             {
                 <td>
                     <b>Vikt:</b> @Html.DisplayFor(modelItem => item.Weight) gram | <b>Volym</b> @Html.DisplayFor(modelItem => item.Volume) ml
                 </td>
             }
             @if (item.Volume == null)
             {
                 <td>
                     <b>Vikt:</b> @Html.DisplayFor(modelItem => item.Weight) gram
                 </td>
             }
             @if (item.Weight == null)
             {
                 <td>
                     <b>Volym:</b> @Html.DisplayFor(modelItem => item.Volume) ml
                 </td>
             }
         </tr>
         <tr>
             <td>
                 <b>Lagersaldo:</b> @Html.DisplayFor(modelItem => item.Inventory)
             </td>
         </tr>
         <tr>
             <td>
                 <a asp-page="./Edit" asp-route-id="@item.ID">Editera</a> |
                 <a asp-page="./Details" asp-route-id="@item.ID">Detaljer</a> |
                 <a asp-page="./Delete" asp-route-id="@item.ID">Radera</a>
             </td>
         </tr>
     </tbody>
 </table>
}

